behave==1.2.6
Click==7.0
ecdsa==0.13
enum34==1.1.6
future==0.16.0
intelhex==2.2.1
ipaddress==1.0.22
linecache2==1.0.0
nrfutil==4.0.0
parse==1.9.0
parse-type==0.4.2
pc-ble-driver-py==0.11.4
piccata==1.0.1
protobuf==3.6.1
pyserial==3.4
pyspinel==1.0.0a1
six==1.11.0
tqdm==4.26.0
traceback2==1.4.0
wrapt==1.10.11
